{% extends "base.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="jumbotron">
<h1>欢迎来到这里</h1>
    <div class="list-group">
        <button type="button" class="list-group-item"><a href="/" target="_blank">佛山+媒体热点</a></button>
        <button type="button" class="list-group-item"><a href="/" target="_blank">佛山+佛山新闻</a></button>
        <button type="button" class="list-group-item"><a href="/" target="_blank">佛山+佛山新闻包含传播信息</a></button>
        <button type="button" class="list-group-item"><a href="/">佛山+佛山新闻传播详细信息</a></button>
    </div>
</div>
{% endblock %}