{% extends "base.html" %}
{% block title %}靓汤{% endblock %}
{% block content %}

<div class="jumbotron" id="table">
    <div class="row" style="margin-top:15px">
        <div class="col-md-6">
             <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="search(type='text')">Go!</button>
                  </span>
                  <input type="text" class="form-control" id="input1" placeholder="搜索内容">
            </div>
        </div>
        <div class="col-md-6">
             <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="search(type='title')">Go!</button>
                  </span>
                  <input type="text" class="form-control" id="input2" placeholder="搜索标题">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px">
        {% for item in content %}
        <div class="media">
            <div class="media-left">
                <a href="{% url 'soup_detail' item.id %}"><img src="{{item.head_url}}" height="64px" width="64px">
                </a>
            </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ item.title }}</h4>
                    {{ item.content }}
                </div>
            </div>
        {% endfor %}

        <div class="pull-right">
          <ul class="pagination">
                {% if content.has_previous %}
                    <li><a href="?page={{ content.previous_page_number }}">《 </a></li>
                {% endif %}
                <script type="text/javascript">
                for (var i=1;i<={{ content.paginator.num_pages }};i++)
                {
                 if (i == {{ content.number }}) {
                    document.write("<li class='active'> <a href='?page=" + i + "'>" + i + "</a></li>");
                 } else {
                  document.write("<li> <a href='?page=" + i + "'>" + i + "</a></li>");
                 }
                }
                </script>
                {% if content.has_next %}
                   <li> <a href="?page={{ content.next_page_number }}"> 》 </a></li>
                {% endif %}
          </ul>
      </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    function search(search_for){
       var url,text

       if(search_for=='title'){
          url = '/soups?title='
          text = document.getElementById('input2').value
       } else {
          url = '/soups?text='
          text = document.getElementById('input1').value
       }

       window.location.href=url+text
    }

</script>

{% endblock %}